* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tag {
    background-color: #F4F4F4;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

@import './header-footer/header';
@import './sections/index';
@import './sections/html';
@import './sections/contact';
